.App-head {
  text-align: center;
}
.App-foot {
  text-align: center;
  position:fixed;
  bottom:0px;
  width:100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-list{
  list-style-type: none;
}

.App-header {
  background-color: #222;
  height: 175px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}
.App-subtitle {
  font-size: 1.0em;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
